# eclipse IDE files
.classpath
.component
.pmd
.project
.settings
.springBeans
.wtpmodule

# gradle
.gradle

# intlellj IDEA
*.iml
*.ipr
*.iws

# binary directories
target
test/**/*
web-app/WEB-INF/classes/**/*
bin/**/*
bin-groovy/**/*

# backup files
*.sw*
*~
*.bak

# log files
*.log
